# Python virtual environment
zapotal_venv/
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.Python

# Django
media/
staticfiles/
*.db
*.sqlite3

# Node
node_modules/
package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db



# Environment
.env
.env.local
