@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

}

/* =========================
   HERO
========================= */

.home-hero{
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  overflow: hidden;

  background-image:
    linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.55)
    ),
    url("/public/img/Inicio/Fondo-principal-inicio.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

/* CAPA */

.home-hero-overlay{
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.30)
    );
}

/* CONTENIDO */

.home-hero-content{
  position: relative;
  z-index: 2;

  width: 90%;
  max-width: 1050px;

  transform: translateY(-10px);
}

/* TITULO */

.home-hero-content h1{
  font-size: 2.5rem;
  font-weight: 300;

  line-height: 1.35;

  color: rgba(255,255,255,0.96);

  margin-bottom: 28px;

  text-shadow:
    0 4px 18px rgba(0,0,0,0.45);
}

/* TEXTO ABAJO */

.home-hero-content p{
  font-size: 0.92rem;
  font-weight: 600;

  letter-spacing: 10px;
  text-transform: uppercase;

  color: rgba(255,255,255,0.95);

  margin-bottom: 42px;

  text-shadow:
    0 3px 10px rgba(0,0,0,0.45);
}

/* BOTON */

.btn-principal{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  min-width: 220px;
  height: 60px;

  padding: 0 32px;

  background: rgba(174, 170, 133, 0.467);
  color: white;

  border: 1px solid rgba(255, 242, 0, 0.55);

  text-decoration: none;

  font-size: 0.78rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  transition: 0.35s ease;

  backdrop-filter: blur(8px);

  box-shadow:
    0 10px 28px rgba(0,0,0,0.28);
}

.btn-principal:hover{
  background: rgba(232,198,106,0.92);
  color: #182418;

  transform: translateY(-3px);
}

/* TABLET */

@media(max-width: 900px){

  .home-hero-content h1{
    font-size: 2rem;
  }

  .home-hero-content p{
    font-size: 0.72rem;
    letter-spacing: 6px;
  }

  .btn-principal{
    min-width: 200px;
    height: 56px;
  }

}

/* CELULAR */

@media(max-width: 768px){

  .home-hero{
    background-attachment: scroll;
  }

  .home-hero-content{
    width: 92%;
  }

  .home-hero-content h1{
    font-size: 1.45rem;
    line-height: 1.5;
  }

  .home-hero-content p{
    font-size: 0.62rem;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }

  .btn-principal{
    min-width: 180px;
    height: 52px;

    font-size: 0.70rem;
  }

}