DJANGO_SECRET_KEY=django-insecure-CAMBIAR-EN-PRODUCCION-generar-con-django-utils-crypto-get_random_string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*

# MySQL (produccion)
# DB_ENGINE=django.db.backends.mysql
# DB_NAME=comunidad_zapotal_db
# DB_USER=root
# DB_PASSWORD=
# DB_HOST=127.0.0.1
# DB_PORT=3306

# SQLite (desarrollo local) - USADO POR DEFECTO
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=1